version: '3'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "8080:8080" 
    networks:
      - app-network
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: backend
    container_name: backend
    volumes:
      - ./data:/app/data 
    ports:
      - "8081:8081" 
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge
